<!DOCTYPE html>
<html lang='en'>
<head>
	<title>BU Hack4Impact Application - Apply</title>
</head>

<body>
	<div>
		<h1>Boston University Hack4Impact Application</h1>
	</div>
	
	<div>
		<form action="/apply" method="post">
			First Name:
			<input type="text" name="firstname" maxlength="20"><br>

			Last Name:
			<input type="text" name="lastname" maxlength="30"><br>

			Preferred Name (if different from above):
			<input type="text" name="prefname" maxlength="20"><br>

			Preferred Pronouns:<br>
			<input type="radio" name="pronouns" value="She/her/hers">She/her/hers<br>
			<input type="radio" name="pronouns" value="He/him/his">He/him/his<br>
			<input type="radio" name="pronouns" value="They/them/theirs">They/them/theirs<br>
			<input type="radio" name="pronouns" value="other" checked>Other (please specify):
			<input type="text" name="pronouns2" maxlength="20"><br>

			Email address:
			<input type="text" name="email" maxlength="50"><br>

			What year are you?:<br>
			<input type="radio" name="gradyear" value="freshman" checked>Freshman<br>
			<input type="radio" name="gradyear" value="sophomore">Sophomore<br>
			<input type="radio" name="gradyear" value="junior">Junior<br>
			<input type="radio" name="gradyear" value="senior">Senior<br>
			<input type="radio" name="gradyear" value="grad">Graduate Student<br>

			What is your major?:
			<input type="text" name="major" maxlength="50"><br>

			What is your minor? (optional):
			<input type="text" name="minor" maxlength="50"><br>

			How many hours per week would you be able to devote?
			<input type="number" name="timeavail" min="0" max="99" step="1"><br>

			Please tell us about a time that you have helped a social impact cause:<br>
			<textarea name="personalimpact" rows="6" cols="50"></textarea><br>

			Please share with us an example of a way that technology has empowered a social impact cause that you are passionate about:<br>
			<textarea name="techimpact" rows="6" cols="50"></textarea><br>

			Please tell us aboout your technical and/or design experience:<br>
			<textarea name="experience" rows="4" cols="50"></textarea><br>

			Anything else you'd like to share? (optional)<br>
			<textarea name="other" rows="4" cols="50"></textarea><br>
			
			<input type="submit" value="Submit">

		</form>
	</div>
</body>
			
