<!DOCTYPE html>
<html lang="en">
<head>
	<title>BU Hack4Impact Application</title>	
</head>
<body> 
	
		<div>
			<h1>Boston University Hack4Impact Application</h1>
		</div>
		
		<div>
			<form action="/application">
				<input type="submit" value="Apply!">
			</form>
		</div>

		<p><b>OR</b></p>

		<div>
			<form action="/login" method="post">
				<b>Sign in as admin to view applications:</b><br>
				Password:
				<input type="password" name="password"><br>
				<input type="submit" value="Sign in and view">
			</form>
		</div>
	
</body>
</html>
